<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>Latihan Website Sederhana</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="judul">Latihan Website Sederhana</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </div>
        <div class="hero-image"></div>
        <div class="content cf">
            <div class="main">
                <h2>Judul Artikel</h2>
            
                <p class="penulis">ditulis oleh <a href="#">Rakai Seto</a>, pada 14 Maret 2021</p>
            
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Error dolorem eos itaque nobis libero et sint. 
                Inventore repellat nemo sint porro reprehenderit. 
                Iusto itaque possimus cumque nam quasi praesentium quia!</p>

                 <br>

               <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, eveniet laudantium tenetur error inventore alias! Dignissimos omnis sapiente cum eaque magni doloribus quam soluta quaerat? Necessitatibus neque dolor repellendus aliquid eaque non inventore blanditiis laboriosam fuga! Repudiandae aut doloremque cum iusto saepe libero. Molestias eveniet architecto est sunt expedita, aspernatur itaque quaerat necessitatibus sit ducimus minima incidunt velit officiis sapiente ab voluptate reiciendis eum illum dolor perferendis autem pariatur placeat numquam ratione! Odio possimus laborum non voluptatum excepturi? Natus dolore facilis aliquam eum dignissimos modi architecto, non reprehenderit, eveniet nihil sed provident earum. Quod animi corporis commodi error? Odio, deleniti?</p>
            
                <br>
            
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Error dolorem eos itaque nobis libero et sint. 
                Inventore repellat nemo sint porro reprehenderit. 
                Iusto itaque possimus cumque nam quasi praesentium quia!</p>
            </div>
            <div class="sidebar">
                <h3>Tentang Penulis</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo quidem expedita molestiae qui doloremque sunt alias nam, impedit sapiente suscipit possimus totam esse ab, mollitia veritatis quo quas corporis omnis.</p>
            </div>
        </div>
        <div class="footer">
            <p class="copy">&copy;Rakai Seto 2021</p>
        </div>
    </div>
</body>
</html>