<!DOCTYPE html>
<html lang="en">
<head>
    <link type="text/css" rel="stylesheet" href="style.css">
    <title>Latihan Website Sederhana</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="judul">Latihan Website Sederhana</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </div>
        <div class="hero-image"></div>
        <div class="main">
            <h2>Judul Artikel</h2>
            
            <p class="penulis">ditulis oleh <a href="#">Rakai Seto</a>, pada 14 Maret 2021</p>
            
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Error dolorem eos itaque nobis libero et sint. 
                Inventore repellat nemo sint porro reprehenderit. 
               Iusto itaque possimus cumque nam quasi praesentium quia!</p>

            <br>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                Sed debitis numquam iste voluptatum accusantium error illum rerum, voluptatem, ducimus ratione libero, odit aspernatur veritatis architecto magni illo atque! 
                Ea ipsum ut, deserunt quam illum laborum asperiores error quae tempore aperiam, a eum illo exercitationem excepturi quos hic voluptate molestias nostrum. 
                Sequi fuga voluptatibus ullam nihil, dolores recusandae hic. 
                Fugiat repudiandae voluptatem tempore praesentium natus assumenda veniam minus explicabo, placeat dicta? 
                Harum consequuntur quam vitae cum maxime, aspernatur, placeat quod quaerat amet vel distinctio voluptatum illo unde nobis porro, perspiciatis optio ad. 
                Nobis, error inventore ad cupiditate nemo ullam excepturi illum.</p>
            
            <br>
            
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Error dolorem eos itaque nobis libero et sint. 
                Inventore repellat nemo sint porro reprehenderit. 
               Iusto itaque possimus cumque nam quasi praesentium quia!</p>
        </div>
        <div class="footer">
            <p class="copy">&copy;Rakai Seto 2021</p>
        </div>
    </div>
</body>
</html>